.upload {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
}

#root, .fullpage {
  min-height: calc(100vh - 60px) !important;
}

.logo {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  border-radius: initial;
  background-position: center;
  background-size: contain;
  background-color: initial;
}
.title {
  width: auto;
  text-align: left;
  margin-top: 10px;
  margin-right: 0px;
}
.subtitle {
  margin: 10px 0px;
  text-align: left;
}

.logo .upload label {
  background-size: 14px;
}
.logo .upload button {
  background-size: 11px;
}

#edit-contact {
  background: white;
  display: inline-block;
  position: absolute;
  width: 500px;
  margin-left: 10px;
  outline: none;
  padding: 10px 0px;
  z-index: 9999;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  bottom: 38px;
  left: 0px;
}

#edit-contact:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: 40px;
  transform: rotate(-45deg);
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent transparent white;
  transition-duration: 0.3s;
  transition-property: transform;
  bottom: -1px;
  transform: rotate(-135deg);
}

.content-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  z-index: -1;
}

.content-wrap {
  position: relative;
  padding: 20px 30px;
}

.right-content {
  background-color: white;
  z-index: 2;
}

.subtitle-edit:hover:before {
  content: '\f044';
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900;
  position: absolute;
  right: -23px;
  bottom: 29px;
  font-size: 16px;
  color: #2fa5cc;
}

.logo-edit:hover:before {
  content: '\f044';
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900;
  position: absolute;
  top: 11px;
  right: 4px;
  font-size: 21px;
  color: #2fa5cc;
  bottom: 62px;
}

#show-social ul {
  margin-left: -10px;
}

.powered-by .powered-title {
  color: #888 !important;
}